<script type="text/javascript" src="{T_AJAX_CHAT_SCRIPTS_PATH}/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{T_AJAX_CHAT_SCRIPTS_PATH}/chat_handler.js"></script>

<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
	    <li class="header">
		    <dl class="icon">
			    <dt><a href="{U_CHAT}">{L_CHAT}</a></dt>
		    </dl>
	    </li>
    </ul>
    <ul class="topiclist forums">
	<form id="chat_box" title="{L_CHAT}" method="post" action="{U_CHAT_ACTION}">
	    <input type="text" name="message" id="message" class="inputbox" />
	    <input type="submit" class="button1" value="{L_SUBMIT}" name="submit" id="chat-submit" accesskey="s"/>
	</form>
    </ul>
    <span class="corners-bottom"><span></span></span></div>
</div>